<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Atlantic Revolution Timeline Project | Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Atlantic Revolution Timeline Project</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="aboutus">Works Cited</a></li>
      </ul>
      

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Works Cited</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Women in the Atlantic Revolutions</h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center">
          <a href="/quiz2" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">continue!</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="http://img-aws.ehowcdn.com/750x428p/cpi.studiod.com/www_ehow_com/photos.demandstudios.com/getty/article/34/133/140402213_XS.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
       
        
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">star</i></h2>
            <h5 class="center">About</h5>

            <p class="light">When you hit the button above, you will chose 1 of 10 dates from the Atlantic Revolutions.  Each of those dates mark times when women contributed to the Atlantic Revolutions, and you will be taken to a short paragraph where you can learn about each one. You can also press the "Works Cited" button on the top right corner to view the bibliography.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4></h4>
          <p class="left-align light"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 light">Try it out yourself!</h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://thehistoryofrome.typepad.com/.a/6a01053629a711970c01bb08ded58b970d-800wi" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"></h5>
          <p class="grey-text text-lighten-4"></p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <p>Made by <a class="brown-text text-lighten-3">Jack Zimmerman</a></p>
      Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>