<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Atlantic Revolution Timeline Project | Date</title>


  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index" class="brand-logo">Atlantic Revolution Timeline Project</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="aboutus">Works Cited</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Works Cited</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"></h1></h1>
        <div class="row center">
          <h4 class="header col s12 light">Choose a date that you would like to learn about</h4>
        </div>
        <div class="row center">
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="http://pages.uoregon.edu/kimball/images/1776-1826.ATL.O.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">
        
        
        
<h4>What Date Would you Like To Know About?</h4>
      
<form method="POST" action="/results">

    <p>
      <input value = "one" name="date" type="radio" id="one" required  />
      <label for="one">1756</label>
    </p>
    <p>
      <input value = "two" name="date" type="radio" id="two"  />
      <label for="two">April 26, 1777</label>
    </p>
    <p>
      <input value = "three" name="date" type="radio" id="three"  />
      <label for="three">October 5, 1789</label>
    </p>
    <p>  
        <p>
      <input value = "four" name="date" type="radio" id="four"  />
      <label for="four">September 5, 1791</label>
    </p>    <p>
      <input value = "five" name="date" type="radio" id="five"  />
      <label for="five">March 6, 1793</label>
    </p>
    <p>
      <input value = "six" name="date" type="radio" id="six"  />
      <label for="six">July 9, 1796</label>
    </p>
    <p>
      <input value = "seven" name="date" type="radio" id="seven"  />
      <label for="seven">October 5, 1802</label>
    </p>
    <p>
      <input value = "eight" name="date" type="radio" id="eight"  />
      <label for="eight">May 18, 1803</label>
    </p>
    <p>
      <input value = "nine" name="date" type="radio" id="nine"  />
      <label for="nine">1815</label>
    </p>
    <p>
      <input value = "ten" name="date" type="radio" id="ten"  />
      <label for="ten">August 7, 1819</label>
    </p>

    
<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>          
      </form>
      
      
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons"></i></h2>
            <h5 class="center"></h5>

            <p class="light"></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons"></i></h2>
            <h5 class="center"></h5>

            <p class="light"></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons"></i></h2>
            <h5 class="center"></h5>

            <p class="light"></p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4></h4>
          <p class="left-align light"></p>
        </div>
      </div>

    </div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"></h5>
          <p class="grey-text text-lighten-4"></p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
